.carousel-controls {
  position: relative;
}
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  color: red;
}
.carousel-btn.left { left: 10px; }
.carousel-btn.right { right: 10px; }

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    height: 100vh;    
    width: 100vw;     
}

.div1 a {
  all: unset;
  cursor: pointer;
  color: initial;
  text-decoration: underline;
  border: solid 1px red;
}

.div1 {
  border: solid 1px black;
}

.div2 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 2;
    border: solid 1px black;
}

.div3 {
    grid-row: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 2;
    border: solid 1px black;
}

.div4 {
    grid-column: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 1;
    border: solid 1px black;
}